@keyframes slide-panel {
    from {
        top : 100px;
        opacity : 0;
    }

    to {
        top : 200px;
        opacity : 1;
    }
}

@keyframes slide-panel2 {
    from {
        top : 100px;
        opacity : 0;
    }

    to {
        top : 20vh;
        opacity : 1;
    }
}